<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Eat-Da-Burger</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->
  </head>
  <header>
    <section class="jumbotron">
      <h1><b>Mythical Burger Shop</b></h1>
      <h4> <em>If You Can Dream It, We Can Kill and Serve It.</em></h4>
    </section>
  </header>
  <body>
    {{{ body }}}
  </body>
  <footer>
  </footer>
</html>